<div id="<%= dom_id muscle %>">
  <tbody class="divide-y divide-gray-200 bg-white dark:bg-gray-900 dark:border-gray-700">
    <tr>
      <td class="whitespace-normal py-5 pr-3 text-sm sm:pl-0">
        <div class="flex items-center">
          <div class="h-11 w-11 flex-shrink-0">
            <!-- image_tag muscle.avatar, alt: muscle.name, class: "h-11 w-11 rounded-full ml-4" -->
          </div>
          <div class="ml-6">
            <div class="font-medium text-gray-900 dark:text-white mb-2"><%= link_to muscle.name, muscle %></div>
            <div class="text-gray-500 line-clamp-3 mb-2 dark:text-white"><%= muscle.origin %></div>
            <div class="mt-2 inline-flex items-center rounded-full bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-600/20 dark:bg-gray-900 dark:border dark:border-gray-700"><%= link_to "Learn more", muscle_path(muscle) %></div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</div>
